.chatBox{
    height: 50px;
    background-color: #2a8a7792;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 5px 10px;
    
    span{
        font-weight: 600;
    }
}

.chatIcons{
    display: flex;
    gap: 10px;

    img{
        height: 25px;
        width: 25px;
        cursor: pointer;
    }
}


/* ----Messages----- */

.messages{
    background-color: #81a6919b;
    padding: 10px;
    height: calc(100% - 120px);
    overflow: scroll;
    
}


.message{
display: flex;
gap: 20px;
margin-bottom: 20px;

   
&.owner{
    display: flex;
    flex-direction:  row-reverse;
  
    .messageContent{
      align-items: flex-end;

        p{
            border-radius: 10px 0 10px 10px;
            background-color: #2a8a77e5;
            color: white;
        }
    }


}


.messageInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #2a8a77e5;
    font-weight: 600;
    span{
        font-weight: 400;
        color: #0b1211e5;
        font-size: 10px;
    }

}

.messageContent{
    max-width: 80%;
    color: #2a8a77e5;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p{
        padding: 10px 20px;
        background-color: #ffffff;
        border-radius: 0 10px 10px 10px;
        color: #2a8a77e5;
        font-weight: 600;
        max-width: max-content;

      
    }
     .content-img{
        width: 50%;
        height: max-content;
        border-radius: 0;
    
}


}

}









.input{
    background-color: #ffffffae;
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
     input{
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        color: #2a8a77e5;
        font-size: 18px;
        &::placeholder{
            color: #2a8a77e5;
        }
     }
}

.send{
    display: flex;
    align-items: center;
    gap: 10px;


    button{
        padding: 5px 10px;
        background-color: #2a8a77e5;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;

    }
}
